body {

  background-color: #F2F2F2;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.errors {
  list-style: none;
  margin: 1em auto;
  display: table;
  background-color: rgba(235, 16, 16, 0.5);
  padding: 0.8em;
  border-radius: 1em;
}

.errors li {
  font-weight: bolder;
  color: #A41818;
  display: inline-block;
  padding: 0 1em;
}

.errors li ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.errors li li {
  color: #444;
}

.deck-results a {
  background: #E6E6E6;
}

.navbar-default {
  background-color: rgb(34, 34, 34);
  border-color: #989898;
  border-radius: 0;
  box-shadow: 1px 3px 12px #888888;
}

.navbar-default .navbar-brand {
  color: white;
  letter-spacing: 2px;
  font-weight: lighter;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  letter-spacing: 2px;
  font-weight: lighter;
}

.dropdown-menu > li > a:hover {
  /*background-color: #428bca;*/
}

.nav .navbar-nav .navbar-right .dropdown-toggle {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.card-false {
  background-color: rgb(215, 85, 76);
}

.card-true {
  background-color: rgb(95, 183, 87);
}

.card-not-answered {
  background-color: #E6E6E6;
}
