<div class="page-header">
  <h1>Welcome, <%=current_user.email%>!<small>Here are all of the decks that you have created:</small></h1>
</div>

<div id="my_decks">
	<%if current_user.decks.any?%>
		<%current_user.decks.each do |deck|%>
			<%=deck.title%>
			<a href="/decks/edit/<%=deck.id%>">Edit</a>
			<a href="/decks/<%=deck.id%>/delete">Delete</a>
		<%end%>
	<%end%>
</div>

<div class="my-decks">
  <a class="btn btn-primary" href="/decks/new">Create a New Deck</a>
</div>
