<div class="page-header">
  <h1>Create a New Deck<small>Enter the title and description of your new deck:</small></h1>
</div>

<form id="create_deck" action="/decks" method="POST">

  <div class="input-group input-group-lg">
    <span class="input-group-addon">Title:</span>
    <input type="text" class="form-control" placeholder="Title" name="deck[title]">
  </div>

  <div class="input-group input-group-lg">
    <span class="input-group-addon">Description:</span>
    <textarea form="create_deck" name="deck[description]" rows="10" cols="50"></textarea>
  </div>

  <input type="submit" value="Make Your Deck" class="btn default navbar-btn">
</form>
